HEAD
build/
.vscode/.browse.VC.db*
.vscode/ipch/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
338b8b9c9f19df1da108662acd2ad400a32b6a90

# sqlite db files
/data/*.db
/data/*.db-wal
/data/*.db-shm


data/import/
data/imported/
data/_invalid/
exports/
build_cmake/
imgui.ini
data/*.db
data/*.bak_*

