build/
build_cmake/
cmake-build*/
CMakeCache.txt
CMakeFiles/
compile_commands.json

.vscode/.browse.VC.db*
.vscode/ipch/

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger files
*.pdb

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# SQLite DB files
/data/*.db
/data/*.db-wal
/data/*.db-shm
data/*.bak_*

data/import/
data/imported/
data/_invalid/
exports/
imgui.ini
data/analyzer_owned_state.v1.json
